body {
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: url('https://picsum.photos/200/300.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.25rem;
}

.hero button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #282c34;
  background: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero button:hover {
  background: #ccc;
}

.services {
  padding: 2rem;
  background-color: #f4f4f4;
}

.service-list {
  display: flex;
  justify-content: space-around;
}

.service {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service h3 {
  margin-bottom: 0.5rem;
}

.service p {
  color: #555;
}

.contact {
  padding: 2rem;
  background-color: #282c34;
  color: white;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.contact label {
  margin-bottom: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.contact button {
  padding: 0.75rem;
  background: white;
  color: #282c34;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact button:hover {
  background: #ccc;
}

.footer {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-align: center;
}
