body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('https://picsum.photos/200/300') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  animation: fadeInDown 1s ease-in-out;
}

.hero p {
  font-size: 1.25rem;
  margin-top: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

.hero button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #282c34;
  background: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: fadeInUp 1s ease-in-out;
}

.hero button:hover {
  background: #ccc;
}

.about {
  padding: 4rem 2rem;
  background: #f9f9f9;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.about p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s ease-in-out;
}

.about img {
  max-width: 100%;
  height: auto;
  animation: fadeIn 2s ease-in-out;
}

.services {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-10px);
}

.service h3 {
  margin-bottom: 0.5rem;
}

.service p {
  color: #555;
}

.portfolio {
  padding: 4rem 2rem;
  background: #fff;
}

.portfolio-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-item {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item img {
  margin-bottom: 1rem;
}

.contact {
  padding: 4rem 2rem;
  background-color: #282c34;
  color: white;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.contact label {
  margin-bottom: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.contact button {
  padding: 0.75rem;
  background: white;
  color: #282c34;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact button:hover {
  background: #ccc;
}

.footer {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
