body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1716185534353-9666a413ae1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  animation: fadeInDown 1s ease-in-out;
  color: #ffffff;
}

.hero p {
  font-size: 1.25rem;
  margin-top: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

.hero button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  background: #011d45;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: fadeInUp 1s ease-in-out;
}

.hero button:hover {
  background: #ccc;
  color:#011d45;
}

.about {
  padding: 4rem 2rem;
  background: #f9f9f9;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.about p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s ease-in-out;
}

.about img {
  max-width: 100%;
  height: auto;
  animation: fadeIn 2s ease-in-out;
}

.services {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-10px);
}

.service h3 {
  margin-bottom: 0.5rem;
  color: #132132;
  font-size: 25px;
}

.service p {
  color: #555;
}
.service:hover, .service h3, .service p:hover{
  background-color: #011d45;
  color: white;
}


.portfolio {
  padding: 4rem 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1591453214154-c95db71dbd83?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhhbmRzaGFrZXxlbnwwfHwwfHx8MA%3D%3D");
}
.portfolio h2 {
  font-family: "Sumana", Sans-serif, serif ;
  margin-bottom: 50px;
  font-size: 25px;
  color: #8f3502;
}

.portfolio-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-item {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item img {
  margin-bottom: 1rem;
  height: 250px;
  width:200px;
}

.contact {
  padding: 4rem 2rem;
  background-color: #282c34;
  color: white;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.contact label {
  margin-bottom: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.contact button {
  padding: 0.75rem;
  background: #132132;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact button:hover {
  background: #2e3c4e;
}

.footer {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
