/* src/components/ContactSection.module.css */
.contact {
    padding: 2rem;
    background-color: #282c34;
    color: white;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.contact label {
    margin-bottom: 1rem;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.contact button {
    padding: 0.75rem;
    background: white;
    color: #282c34;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact button:hover {
    background: #ccc;
}
