/* src/components/HeroSection.module.css */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* background: url('/path-to-your-hero-image.jpg') center/cover no-repeat; */
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
}

.hero button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #282c34;
    background: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero button:hover {
    background: #ccc;
}
