/* src/components/ServicesSection.module.css */
.services {
    padding: 2rem;
    background-color: #f4f4f4;
}

.serviceList {
    display: flex;
    justify-content: space-around;
}

.service {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service h3 {
    margin-bottom: 0.5rem;
}

.service p {
    color: #555;
}
